<!DOCTYPE html>
<html ng-app="redditClone" >
<head>
  <title>Angular Reddit Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-cloak ng-controller="PostsController">
  <header>
    <h1><span class="fa fa-toggle-down fa-spin"></span> reddon't</h1>
    <input type="text" ng-model="search" placeholder="Search">
    <button ng-model="newPost" ng-click="newPost = !newPost">Create New Post</button>
  </header><br>

  <!-- select post sort method -->
  <div class="sortPosts">
    <p>Sort posts by: <span ng-click="sortType='-rating'; sortReverse = !sortReverse">  Rating </span>|<span ng-click="sortType='-date'; sortReverse = !sortReverse"> Date </span>|<span ng-click="sortType='-comments.length'; sortReverse = !sortReverse"> Comments </span></p>
  </div>

  <!-- new post form -->
  <div ng-hide="newPost">
    <div class="formBox">
      <form name="newPost" ng-submit="addPost(post)">
        <h3>Post Something</h3>
        <input type="text" name="title" placeholder="Title" ng-model="post.title"></input><br><br>
        <input type="text" name="author" placeholder="Author" ng-model="post.author"></input><br><br>
        <input type="url" name"image" placeholder="Image URL" ng-model="post.image"></input><br><br>
        <input type="text" name"description" placeholder="Description" ng-model="post.description"></input><br><br>
        <button type="submit">Post it.</button><br><br>
      </form>  
    </div>
  </div>

  <!-- post display loop -->
  <div >
    <ul ng-repeat="post in posts | orderBy:sortType:sortReverse | filter:search" style="list-style-type:none;">
      <li>   
          <container class="postBody">
            <img ng-src="{{post.image}}">

            <h3>{{post.title}}</h3>
            <span class="" ng-class="{'green':post.rating>0,'red':post.rating<0}">{{post.rating}}
            <span class="glyphicon glyphicon-arrow-up up" ng-click="post.rating = post.rating + 1"></span>
            <span class="glyphicon glyphicon-arrow-down down" ng-click="post.rating = post.rating - 1"></span>
            </span>
            <p>{{post.date | date:'MM/dd/yyyy'}} at {{post.date | date:'shortTime'}} by {{post.author}}</p>
            <p>{{post.description}}</p>
            <button ng-model="showComments" ng-init="showComments = false" ng-show="post.comments.length > 0" ng-click="showComments = !showComments">{{post.comments.length}} Comments</button>  <button ng-model="newComment" ng-click="newComment = !newComment">Add Comment</button>
            
            <!-- comments drop down -->
            <div ng-show="showComments">
              <div ng-repeat="comment in post.comments | orderBy:'-date'">
                <hr><br>
                <h4>{{comment.date | date:'MM/dd/yyyy'}} at {{comment.date | date:'shortTime'}} by {{comment.user}}</h4>
                <p>{{comment.text}}</p>
              </div>
            </div>
          </container>

          <!-- new comment form -->
          <div ng-hide="newComment">
            <div class="commentBox">
              <form name="newComment" ng-submit="addComment(comment, post.id)" ng-submit="newComment">
                <h3>Say Something</h3>
                <input type="text" name="user" placeholder="User" ng-model="comment.user"></input><br><br>
                <input type="text" name="text" placeholder="Text" ng-model="comment.text"></input><br><br>
                <button type="submit">Post it.</button><br><br>
              </form>
            </div>
          </div>  
      <li>
    <ul>



  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="directives.js"></script>
    <script src="main.js"></script>
</body>
</html>